<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div>
  <app-header-admin></app-header-admin>

  <div class="container-fluid">
    <div class="row" [style.height.px]="screenHeight">
      <div class="col-2 p-0">
        <app-sidebar-admin></app-sidebar-admin>
      </div>
      <div class="col-10 content border-start p-3">
        <div class="bg-body-tertiary rounded p-4">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">© 2017 Admin Pro by wrappixel.com</footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>

  <!-- ============================================================== -->
  <!-- Page wrapper -->
  <!-- ============================================================== -->
  <!-- <div class="page-wrapper"> -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <!-- <div class="container-fluid"> -->
  <!-- <app-breadcrumbs></app-breadcrumbs> -->

  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <!-- <div class="row"> -->
  <!-- <div class="col-12"> -->
  <!-- <div class="card"> -->
  <!-- <div class="card-body"> -->
  <!-- <router-outlet></router-outlet> -->
  <!-- </div> -->
  <!-- </div> -->
  <!-- </div> -->
  <!-- </div> -->
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <!-- <footer class="footer">© 2017 Admin Pro by wrappixel.com</footer> -->
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
  <!-- </div>
    </div> -->
</div>
